/*commentaire*/
.form {
    background-color: #202020;
    color: black;
    border-radius: 15px;
    padding: 10px;
    border: 5px darkslategrey ridge;
}
.description {
    color: azure !important;
}
input {
    color: black !important;
}
input[type=submit] {
    margin: 2% 0%;
    background: white;
    color: black !important;
    cursor: pointer;
}
input[type=submit]:hover {
    background: gray;
    color: black !important;
}
.error-message {
    color: red;
}
textarea {
    margin: 2% 0%;
    color: black !important;
}